.newArrivals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1rem;
  padding: 1.3rem 2rem;
}

@media (max-width: 1024px) {
  .newArrivals {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .newArrivals {
    grid-template-columns: 1fr;
    padding: 1.3rem 1rem;
  }
}
